@model IEnumerable<BlogPost>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the blog.</h1>
</div>

<div class="row">
    @foreach (BlogPost post in Model)
    {
        @Html.Partial("_PostPartial", post);
    }
</div>
